﻿@{
    ViewBag.Title = "Sender";
}


<style type="text/css">
        #silverlightControlHost {
            height: 70%;
            text-align: center;
        }
    </style>

    <script type="text/javascript" src="~/Silverlight.js"></script>
    <script type="text/javascript">

        function onSilverlightError(sender, args) {
            var appSource = "";
            if (sender != null && sender != 0) {
                appSource = sender.getHost().Source;
            }

            var errorType = args.ErrorType;
            var iErrorCode = args.ErrorCode;

            if (errorType == "ImageError" || errorType == "MediaError") {
                return;
            }

            var errMsg = "Unhandled Error in Silverlight Application " + appSource + "\n";

            errMsg += "Code: " + iErrorCode + "    \n";
            errMsg += "Category: " + errorType + "       \n";
            errMsg += "Message: " + args.ErrorMessage + "     \n";

            if (errorType == "ParserError") {
                errMsg += "File: " + args.xamlFile + "     \n";
                errMsg += "Line: " + args.lineNumber + "     \n";
                errMsg += "Position: " + args.charPosition + "     \n";
            }
            else if (errorType == "RuntimeError") {
                if (args.lineNumber != 0) {
                    errMsg += "Line: " + args.lineNumber + "     \n";
                    errMsg += "Position: " + args.charPosition + "     \n";
                }
                errMsg += "MethodName: " + args.methodName + "     \n";
            }
    
            throw new Error(errMsg);
        }
    </script>


@*<script>
    function hasGetUserMedia() {

        navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;
        if (navigator.getUserMedia) {
                navigator.getUserMedia({ video: true, audio: true },
                function (localMediaStream) {
                    var video = document.querySelector('video');
                    video.src = window.URL.createObjectURL(localMediaStream);
                },errorCallback);
        }

        var hdConstraints = {
            video: {
                mandatory: {
                    minWidth:1280,
                    minHeight:720 
                }
            }
        };

        navigator.getUserMedia()
        //else if (!!(Modernizr.getusermedia)) {

        //}
        //alert(v);
    }

    var errorCallback = function (e) {
        console.log("Rejected!", e);
    };


</script>*@
<div class="container body-content">
    <h2>Sender</h2>
    @*<input type="button" onclick="errorCallback" />*@

</div>


<div id="silverlightControlHost" class="container body-content">
    <object data="data:application/x-silverlight-2," id="slobj" type="application/x-silverlight-2" style="width:100%;height:100%">
            <param name="source" value="../../ClientBin/Debug/CommunicationClientSL.xap" />
            <param name="initParams" value="ClientType=@CommunicationClientCommon.ClientType.Sender" />
            <param name="onError" value="onSilverlightError" />
            <param name="background" value="white" />
            <param name="minRuntimeVersion" value="5.0.61118.0" />
            <param name="autoUpgrade" value="true" />
            <a href="http://go.microsoft.com/fwlink/?LinkID=149156&v=5.0.61118.0" style="text-decoration:none">
                <img src="http://go.microsoft.com/fwlink/?LinkId=161376" alt="Get Microsoft Silverlight" style="border-style:none" />
            </a>
        </object>
        <iframe id="_sl_historyFrame" style="visibility:hidden;height:0px;width:0px;border:0px"></iframe>



</div>




