﻿@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<style>
    .buttons-wrapper {
        text-align: center;
    }

    .hidden {
        display: none;
    }

    #video {
        display: block;
        width: 100%;
    }

    .button-demo {
        padding: 0.5em;
        display: inline-block;
        margin: 1em auto;
    }

    .author {
        display: block;
        margin-top: 1em;
    }
</style>

<div>
    <video id="video" style="border:dashed; max-height:480px; max-width:620px" autoplay="autoplay" controls="controls"></video>
    <div class="buttons-wrapper">
        <button id="button-play-gum" class="button-demo" href="#">Play demo</button>
        <button id="button-stop-gum" class="button-demo" href="#">Stop demo</button>
    </div>
    <span id="gum-unsupported" class="hidden">API not supported</span>
    <span id="gum-partially-supported" class="hidden">API partially supported (video only)</span>

    <script>
        var webcamStream = null;
        var videoStream = null;
        var streamReceorder = null;
        var video = document.getElementById("video");
        window.navigator = window.navigator || {};
        navigator.getUserMedia = navigator.getUserMedia ||
                               navigator.webkitGetUserMedia ||
                               navigator.mozGetUserMedia ||
                               navigator.msGetUserMedia ||
                               null;
        if (navigator.getUserMedia === null) {
            document.getElementById('gum-unsupported').classList.remove('hidden');
            document.getElementById('button-play-gum').setAttribute('disabled', 'disabled');
            document.getElementById('button-stop-gum').setAttribute('disabled', 'disabled');
        }
        else {
            var createSrc = window.URL ? window.URL.createObjectURL : function (stream) { return stream; };
            var audioContext = window.AudioContext ||
                   window.webkitAudioContext ||
                   null;
            if (audioContext === null) {
                document.getElementById('gum-partially-supported').classList.remove('hidden');
            }
        }
        document.getElementById('button-play-gum').addEventListener('click', function () {
            navigator.getUserMedia({
                video: true,
                audio: true
            },
            function (stream) {
                videoStream = stream;
                webcamStream = stream;
                // Stream the data
                video.src = createSrc(stream);
                video.play();
                startRecording();
            },
            function (error) {
                console.log("Video capture error: ", error.code);
            });

        });
        document.getElementById('button-stop-gum').addEventListener('click', function () {
            // Pause the video
            video.pause();
            // Stop the stream
            videoStream.stop();
        });

        function startRecording() {
            streamRecorder = webcamStream.record();
            setTimeout(stopRecording, 10000);
        }
        function stopRecording() {
            streamRecorder.getRecordedData(postVideoToServer);
        }

        function postVideoToServer(videoblob) {
            var data = {};
            data.video = videoblob;
            data.metadata = 'test metadata';
            data.action = "upload_video";
            jQuery.post("http://www.foundthru.co.uk/uploadvideo.php", data, onUploadSuccess);
            startRecording();
        }
    </script>



</div>